._*
~*
*~
.DS_Store
cell_types/*
glif_models/*
glif_props/*
glif_requisite/*
*.pyc
v1nodes/*
fullmodel/*
full/*
small/*
tiny/*
miniature*/*
no_recurrent/*
no_recurrent_full/*
no_recurrent_base/*
misc_scripts/*.csv
profile/*
*prof
slurm*.out
original_mini/*
test/*
configs/*
normalize_by_e4/*
normalize_by_type/*
Raster*.png
Rates*.png