._*
~*
*~
.DS_Store
.snakemake
cell_types/*
glif_models/*
glif_props/*
glif_requisite/*
*.pyc
v1nodes/*
flat*/*
full*/*
single*/*
small*/*
tiny*/*
scaled_spont_lgn_5s/*
core*/*
no_recurrent/*
no_recurrent_full/*
no_recurrent_base/*
misc_scripts/*.csv
profile/*
*prof
slurm*.out
original_mini/*
test/*
configs/*
obsolete/*
normalize_by_e4/*
normalize_by_type/*
Raster*.png
raster*.png
Rates*.png
.edge_types*
images/
billeh/*
*.err
*.out
test*/*
diagnose/*
tensorflow/*
tf_props/*
base_props_deprecated/*
connection_params_for_v1DD/*